body {
    font-family: Arial, Helvetica, sans-serif;                          
    background: url(https://av.ui.cld.dtvops.net/images/banner-image2.jpg) no-repeat 0 0;
    background-size: cover;
}
h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
     padding: 20px 20px;
  }
h2 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    font-weight: bold;   
    padding: 20px 20px;

}