body {
    font-family: Arial, Helvetica, sans-serif;                          
    background: url(https://av.ui.cld.dtvops.net/images/banner-image2.jpg) no-repeat 0 0;
    background-size: cover;
}
h1 {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
     padding: 20px 20px;
  } 

 
  
.fcc-btn {
  font: bold 14px Arial;
  text-decoration: none;
  background-color: url(https://av.ui.cld.dtvops.net/images/banner-image2.jpg) no-repeat 0 0;
  color: white;
  padding: 12px 36px 12px 36px;
  border-top: 2px solid #CCCCCC;
  border-right: 2px solid #333333;
  border-bottom: 2px solid #333333;
  border-left: 2px solid #CCCCCC
}